
$width-site:    966px;
$width-left:    650px;
$width-right:   350px;

$break-small:   480px;
$break-medium:  720px;
$break-large:   1045px;
$break-x-large: 1200px;

$spacer:        30px;

$black:         #212121;
$purple:        #7986CB;
$grey:          #9E9E9E;
$light-purple:  #C5CAE9;
$dark-purple:   #3F51B5;
$dark-grey:     #616161;
$light-grey:    #F5F5F5;
$med-purple:    #9FA8DA;

// A modest palette; see `_library.scss` for the color() function
$_color: (
  text: #333,
  link: steelblue,
  link-muted: steelblue,
  body-background: white
);

// Metadata; use metadata() to access
$_metadata: (
  theme-name:               "womenandcolor"
, theme-uri:                "https://github.com/synapticism/wordpress-gulp-starter-kit"
, theme-author:             "Alexander Synaptic"
, theme-author-uri:         "http://synapticism.com"
, theme-description:        "A minimally viable theme made with the WordPress/Gulp starter kit"
, theme-version:            "0.2.2"
, theme-license:            "GPLv3"
, theme-license-uri:        "http://www.gnu.org/licenses/gpl.txt"
, theme-tags:               (light, responsive-layout, right-sidebar, starter-theme, two-columns, translation-ready, white)
, theme-text-domain:        "womenandcolor"
, theme-text-domain-path:   "/languages/"
);
