* { box-sizing: border-box; }

body {
  min-width: 320px;
  font-family: "neuzeit-grotesk", sans-serif;
  &.mobile-menu-open { overflow: hidden; }
}

.wrap-main {
  overflow: auto;
  margin-bottom: 50px;
}

.mobile-menu-tags {
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
  left: -720px;
  @include transition(.5s ease-in-out);
  .mobile-menu-tags-wrap {
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
  }
  &.menu-open { left:0; }
  .filter {
    color: $grey;
    font-size: 24px;
    padding: 12px 15px 30px 15px;
  }
  p:not(.filter) {
    color: $purple;
    font-size: 18px;
    text-transform: capitalize;
    padding: 12px 15px;
    cursor: pointer;
    &:hover, &.current-tag {
      color: $dark-purple;
      border-left: 5px solid $dark-purple;
      padding: 12px 10px;
    }
  }
}

.content-area {
  margin-top: 20px;
  padding: 0 20px;
}

.current-tag-page {
  color: $dark-purple;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.main-category-menu { display: none; }
.sub-category-menu.speaker-tags { display: none }

.site-header {
  background-image: url("images/background.jpg");
  background-position: center -67px;
  overflow: hidden;
}
.site-branding {
  margin: 50px 0;
  padding: 0 30px;
}
.site-title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.site-description {
  color: #fff;
  text-align: center;
  font-size: 22px;
  max-width: 833px;
  margin: 0 auto;
  padding: 0 30px;
  font-weight: 300;
}
.site-content {
  .speaker-info {
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid $light-grey;
    .speaker-name, .speaker-title, .speaker-org {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
.speaker-image {
  float: left;
  img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}
.speaker-items {
  float:left;
  width: 85%;
  padding-left: 15px;
}
.speaker-name {
  color: $black;
  font-size: 18px;
  line-height: 18px;
}
.speaker-title {
  font-size: 18px;
  line-height: 31px;
  color: $grey;
}
.speaker-org {
  font-size: 18px;
  line-height: 18px;
  color: $grey;
  display: none;
}
.speaker-tags {
  line-height: 14px;
  white-space: nowrap;
  a {
    color: $purple;
    display: inline-block;
    font-size: 14px;
    text-transform: lowercase;
    &:not(:last-of-type):after {
      content: ",";
    }
  }
}
.speaker-contact a {
  display: none;
}
.button {
  background: $dark-purple;
  border-radius: 4px;
  padding: 8px 14px 8px 15px;
  display: inline-block;
  color: #fff;
  @include transition(.1s background ease-in-out);
  &:hover {
    background: #303F9F;
  }
}

.speaker-twitter {
  margin-top: 20px;
  display: none;
  font-size: 14px;
  background-image: url("images/twitter.png");
  background-repeat: no-repeat;
  background-position: 0px 3px;
  background-size: 16px;
  padding-left: 20px;
  a {
    color: $dark-grey;
    @include transition( color 0.1 ease-in-out);
  }
  &:hover {
    background-position: 0 -20px;
    a { color: $grey; }
  }
}
.speaker-contact-form {
  display: none;
  float: left;
  width: 100%;
  .contact-title {
    color: $dark-purple;
    font-size: 36px;
    margin: 5px 0 20px -3px;
  }
  .send-input {
    color: #fff;
    background: $dark-purple;
    width: 194px;
    font-size: 18px;
    border-radius: 4px;
    line-height: 37px;
    height: 43px;
    @include transition(.1s background ease-in-out);
    &:hover {
      background: #303F9F;
    }
  }
  input, textarea {
    display: block;
    border: none;
    border-bottom: 1px solid $light-grey;
    outline: none;
    margin: 0 0 34px 0;
    padding-bottom: 7px;
    width: 100%;
    color: #000;
    &.inline-input {
      display: inline;
      width: 49%;
    }
  }
  textarea {
    height: 30px;
    resize:vertical;
  }
  .input-group {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
  }
}
.single-post {
  .site-main { border-bottom: 1px solid $light-grey; }
  .site-content {
    .speaker-info {
      border: none;
      border-radius: 4px;
      width: 300px;
      text-align: center;
      padding: 0px 10px 40px 10px;
      margin: -40px auto 10px auto;
      height: auto;
      float: none;
      .speaker-name, .speaker-title, .speaker-org {
        white-space: inherit;
        text-overflow: inherit;
        overflow: auto;
        max-width: 245px;
        margin: 0 auto;
      }
      .speaker-tags { height: auto; }
    }
  }
  .speaker-image {
    float: none;
    img{
      height: 130px;
      width: 130px;
      margin: 50px 0 30px 0;
    }
  }
  .speaker-items {
    float: none;
    width: auto;;
    padding-left: 0px;
  }
  .speaker-name {
    font-size: 22px;
    line-height: 24px;
  }
  .speaker-title {
    color: $purple;
    line-height: 30px;
  }
  .speaker-org {
    display: block;
  }
  .speaker-tags {
    line-height: auto;
    white-space: normal;
    margin: 25px auto;
    max-width: 90%;
    max-height: none;
    overflow: auto;
    a {
      background: #fff;
      border: 1px solid $light-purple;
      display: inline-block;
      border-radius: 4px;
      font-size: 14px;
      text-transform: lowercase;
      padding: 6px 8px;
      margin: 4px 2px;
      @include transition(background .1s ease-in-out);
      &:hover { background: #E8EAF6; }
      &:not(:last-of-type):after {
        content: "";
      }
    }
  }
  .speaker-contact {
    display: none;
  }

  .speaker-twitter {
    display: inline-block;
  }
  .speaker-contact-form {
    display: block;
    margin-top: 30px;
  }
}






footer { text-align: center; }

.footer-cta {
  background: $light-grey;
  overflow: auto;
  padding: 50px 30px;
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin:0 0 10px 0;
  }
  p {
    font-size: 18px;
    color: $dark-grey;
    max-width: 600px;
    margin: 0 auto;
    font-weight: 300;
  }
  a {
    font-size: 18px;
    margin-top: 35px;
    padding: 20px 40px;
    width: 90%;
  }
}

.footer-info {
  height: 282px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/background.jpg");
  background-position: center center;
  color: #fff;
  overflow: auto;
  padding:0 30px;
  h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 60px 0 10px 0;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    max-width: 300px;
    margin: 0 auto;
  }
  .follow {
    display:inline-block;
    margin-top: 10px;
    font-weight: 700;
  }
}

.site-navigation {
  display: none;
  @include media-above($break-medium) {
    display: block !important; // Handles an edge case where user resizes after menu is hidden on smaller screens
  }
  &.active {
    display: block;
  }
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.no-results, .not-found {
  h1, .entry-content {
    text-align: center;
    color: $dark-purple;
  }
}
.bitnami-corner-image-div {display: none!important;}
.wrap-footer { clear: both; }
