// ==== NAVIGATION ==== //

.nav-posts {
  @extend %clearfix;
  @extend %spacer-below-3;
}
.nav-next {
  clear: both;
  text-align: center;
  width: 100%;
  border: 1px solid $light-purple;
  margin: 0 -10px;
  border-radius: 4px;
  padding: 20px 0;
  a {
    color: $purple;
    font-size: 24px;
  }
}
